---
import { Icon } from "astro-icon/components";
const { date, time } = Astro.props;
---

<div
  class="flex flex-col items-center bg-primary-dark rounded-lg hover:-translate-y-2 transition-transform group"
>
  <div class="flex items-center">
    <span class="text-secondary-default mr-2">
      <Icon name="lucide:monitor">
    </span>
    <p class="my-6 text-base font-normal text-white text-center">
      Virtual event
    </p>
  </div>
  <div class="py-4 px-4 mb-2 text-xs text-center">
    <h5 class="text-3xl text-secondary-default uppercase font-bold">
      {date}
    </h5>
    <h5 class="text-lg text-white">{time}</h5>
  </div>
  <div
    class="inline-flex text-primary-lighter rounded-lg pb-4 group-hover:translate-x-1 transition-transform"
  >
    <Icon name="lucide:move-right">
  </div>
</div>

