---
import { Icon } from "astro-icon/components";
---

<nav class="md:flex md:flex-wrap md:items-center md:justify-between lg:py-16">
  <div class="flex items-center justify-center lg:pt-0 pt-10">
    <Icon class="h-14 w-auto" name="logo" />
  </div>
  <div class="flex items-center justify-center lg:mt-0 mt-6">
    <a
      href="https://greensoftware.foundation/"
      target="_blank"
      rel="noreferrer"
      class="text-primary-light text-sm font-bold py-3.5 px-8 mr-4 hover:text-primary-lighter transition-colors"
    >
      Learn More About GSF
    </a>
    <button
      class="bg-secondary-default text-gray-darkest text-sm font-bold py-3.5 px-8 rounded-lg hover:bg-btn-hover transition-colors"
    >
      Register
    </button>
  </div>
</nav>
