---
import Header from "./components/header.astro";
import { Icon } from "astro-icon/components";
import "@fontsource/nunito-sans/400.css";
import "@fontsource/nunito-sans/600.css";
import "@fontsource/nunito-sans/800.css";
---

<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8YTE81GCBM"
    ></script>
    <script>
      // @ts-ignore
      window.dataLayer = window.dataLayer || [];
      function gtag() {
         // @ts-ignore
        dataLayer.push(arguments);
      }
       // @ts-ignore
      gtag("js", new Date());
       // @ts-ignore
      gtag("config", "G-8YTE81GCBM");
    </script>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>Green Software Summit 2024</title>
    <meta name="title" content="Green Software Summit 2022" />
    <meta
      name="description"
      content="The GSF Global Summit 2022 is a series of free events all around the globe where people talk about how to build software that emits fewer carbon emissions"
    />

    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://summit.greensoftware.foundation/"
    />
    <meta property="og:title" content="Green Software Summit 2022" />
    <meta
      property="og:description"
      content="The GSF Global Summit 2022 is a series of free events all around the globe where people talk about how to build software that emits fewer carbon emissions"
    />
    <meta
      property="og:image"
      content="https://summit.greensoftware.foundation/og-image.png"
    />

    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:url"
      content="https://summit.greensoftware.foundation/"
    />
    <meta property="twitter:title" content="Green Software Summit 2022" />
    <meta
      property="twitter:description"
      content="The GSF Global Summit 2022 is a series of free events all around the globe where people talk about how to build software that emits fewer carbon emissions"
    />
    <meta
      property="twitter:image"
      content="https://summit.greensoftware.foundation/og-image.png"
    />
  </head>
  <body>
    <div class="bg-primary-darkest">
      <div class="max-w-5xl mx-auto px-4 xl:px-0">
        <Header />

        <main><slot /></main>
        <footer>
          <div class="mt-28 pb-16 text-center items-center justify-center">
            <hr class="border-primary-dark w-7/12 m-auto" />
            <Icon class="mx-auto mt-16 h-14 w-auto" name="footer-logo" />
            <p class="mt-4 text-primary-light">
              Privacy Policy | Code of Conduct
            </p>
            <p class="text-primary-light mt-2 text-sm">
              Copyright © {new Date().getFullYear()} Joint Development Foundation
              Projects, LLC, <br /> Green Software Foundation Series
            </p>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
